table {
    
    margin-bottom: 50px;
    margin-top: 25px;
    margin-left: 50px;
    transition:  color 0.3s linear;
}
section {
    margin : auto;
    display: flex;
}
.container {
    margin-top: 100px;
    background-color: aliceblue;
    padding : 50px;
   border-radius: 20px;
   transition: background 0.3s linear, color 0.3s linear;
}
h1 {
    margin-left: 100px;
}
img.lightmode{
    width: 30px;
    height: 30px;
}
img {
    border-radius: 20px;  
}

nav {
    background-color: rgb(238, 238, 238);
}
.darkMode nav{
    background-color: rgb(110, 110, 110);
    
}
.darkMode nav .container-fluid a {
    color: white;
}

.darkMode nav .container-fluid #navbarNav ul li a {
    color: white;
    transition: color 0.3s linear;
}

nav .container-fluid #navbarNav ul li a {
    transition: color 0.3s linear;
}
a {
    transition: color 0.3s linear;
}

.darkMode .container{
    background-color:rgb(109, 114, 117);
    color: white;
}
/* .menu{float: right;} */
.darkMode{
    background-color:rgb(34, 34, 34);
    color: white;
}
.darkMode table {
    color: white;
}
a :hover {
    color: black;
}

#dark{
    background-color: black;
    color: white;
}
.darkMode #dark{
    background-color: white;
    color: black;
    
}
body{
    transition: background 0.3s linear, color 0.3s linear;
}

label {
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background-color: black;

}
.darkMode label {
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background-color:white;
    
}

input{
    visibility: hidden;
}

.switch {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: left;
    transition: background 0.3s linear;
}

.darkMode nav .switch {
    width: 30px;
    height: 30px;
    background-color:black;
    border-radius: 50%;
    float: right;
    transition: background 0.3s linear;
}
.wrapper p {
    float: left;
}

.wrapper {
    float: right;
    transition: color 0.3s linear;
}










